.coloredBg {
  width: 150px;
  height: 100px;
  background-color: blue;
}

/* высота автоматически рассчитывается в соответствии
 с содержимым элемента p */
p {
  width: 300px;
  background-color: yellow;
}

.btn {
  width: 100px;
  height: 25px;
}
